.paragraphs-icon {
    max-height: 50px;
}

.paragraphs-label {
    font-weight: bold;
}
.paragraphs-machine-name {
    font-size: smaller;
}

.paragraphs-item-separate-edit .dropbutton-wrapper {
  float: right;
  margin: 2px 2px 10px 10px;
  display: none;
}

.paragraphs-item-separate-edit {
  border: 1px solid transparent;
}

.paragraphs-item-separate-edit:hover {
  border: 1px dashed #333;
  background-color: rgba(0,0,0,.05);
  position: relative;
}

.paragraphs-item-separate-edit:hover .dropbutton-wrapper {
  display: inherit;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  z-index: 1000;
}

.paragraphs-item-separate-edit:hover .dropbutton-widget {
  left: auto;
  right: 0;
}